@media only screen and (max-width: 1000px) {
    .video-box {
      
      width: 100%;
      height: 100%;

    }

    .video-container{ 
        height: 80vh;
        margin-bottom: 100px;
    }
  }

  @media only screen and (max-width: 1440px) {
    .about-image {
      width: 40%;
      
    }

    .about-description { 
        width: 40%;
        padding: 2.5%;
      
      }
  }

  @media only screen and (max-width: 1250px) {
    .about-image {
      width: 35%;
      
    }

    .about-description { 
        width: 45%;
        padding: 2.5%;
      
      }

      .about-bacco-h1, .bacco-club { 
        font-size: 36px;
      }

      .about-bacco-p { 
        font-size: 16px;
        font-weight: 300;
      }
    } 

    @media only screen and (max-width: 1000px) {
        .about-container {
          flex-direction: column;
          
        }

        .about-image {
            width: 90%;
          }
      
          .about-description { 
              width: 90%;
              padding: 5%;
            }

            .about-bacco-h1, .bacco-club { 
                font-size: 28px;
              }
        
              .about-bacco-p { 
                font-size: 16px;
                font-weight: 200;
              }

              .assinatura-container { 
                flex-direction: column;
              }

        } 



        @media only screen and (max-width: 500px) {
          
        
            .video-container{ 
                height: 60vh;
              
            }

            .logo { 
                
                height: 35%;
            }

          }

          @media only screen and (max-width: 750px) {
          
        
            .header-itens{ 
               display: none;
              
            }
          }

