h1 { 
font-family: filson-pro, sans-serif;
color: white;
font-size: 64px;
font-weight: 700;
font-style: normal;
}

p { 
    font-family: filson-pro, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

* { 
    margin: 0;
    padding: 0;
}

body { 
 background-color: #121212;
}