.video-box { 
   width: 100%;
    height: 100vh;
    object-fit: cover;
   
}




.som { 
    background-image: url('assets/som.svg');
    background-repeat: no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    border: 0px;
    padding: 25px;
    border-radius: 100%;
    background-position: center;
    background-color: #B21751;
    transition: all 0.4s;
  }

  .semsom { 
    background-image: url('assets/semsom.svg');
    background-repeat: no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 25px;
    right: 25px;
    border: 0px;
    padding: 25px;
    border-radius: 100%;
    background-position: center;
    background-color: #B21751;
    transition: all 0.4s;
  }

    .semsom:hover, .som:hover { 
    opacity: 0.8;
  }



  @media only screen and (max-width: 1000px) {
    .video-box {
      object-fit: unset;
      width: 100%;
      height: 100%;

    }
  }


  .bacco-club { 
    font-family: filson-pro, sans-serif;
    color: #B21751;
    font-size: 64px;
font-weight: 700;
font-style: normal;
  }

  